@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
:root {
  --primary-clr: #f00;
  --deep-dark-clr: #070211;
  --light-dark-clr: rgba(7, 2, 17, 0.6);
}
/* header related style */

.banner {
  max-width: 1320px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(resources/Banner\ Image.png);

  background-position: center;
  background-size: cover;
  margin: 50px auto 120px;
  min-height: 600px;

  color: #fff;
  /* content style */
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-size: 32px;

  font-weight: 400;
}
.banner-content {
  position: absolute;
  z-index: 1000;
}
.banner-title {
  font-size: 72px;
  font-weight: 900;
  margin-top: 20px;
}

/* main related styles */

main {
  max-width: 1320px;
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.off65 {
  font-family: Inter;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.off65-title {
  color: var(--primary-clr);
  font-size: 88px;
  font-weight: 700;
  font-family: inherit;
}
.off65-details p {
  color: #f00;
  font-family: inherit;
  text-align: center;

  font-size: 20px;

  font-weight: 500;
}
.off65-subtitle {
  color: var(--deep-dark-clr);

  font-family: inherit;
  font-size: 40px;

  font-weight: 700;
}
.off65 img {
  width: 803px;
  filter: grayscale(8%);
}
/* midnight party section */

.midnight {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(resources/Vectorrr.png) no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1320px;

  display: flex;
  align-items: center;
  border-radius: 16px;

  padding: 100px 125px;
}
.content {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;

  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.midnight-title {
  color: #fff;

  font-size: 64px;
  font-weight: 900;

  line-height: 88px; /* 166.667% */
  letter-spacing: 8px;
  margin-bottom: 25px;
}
.joinBtn {
  margin-top: 50px;
  font-size: 23px;
  background-color: var(--primary-clr);
  color: #fff;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 15px 35px;
  border-radius: 10px;
}
.vector img {
  width: 320px;
}

/* place related styles */
.place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  padding: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  border-radius: 10px;
  margin-bottom: 100px;
}
.event {
  text-align: center;
  white-space: nowrap;
  margin-left: 100px;
}
.place p {
  color: var(--deep-dark-clr);

  color: #070211;
  font-family: "Inter", sans-serif;

  font-size: 35px;

  font-weight: 700;
  line-height: 56px;
  text-transform: capitalize;
}
.place p span {
  color: var(--primary-clr);
  font-family: inherit;
}
.place button {
  margin-right: 0;
}

/* coming-soon */
.comming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.offer {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.offer-title {
  color: var(--primary-clr);

  font-family: Inter;
  font-size: 24px;

  font-weight: 600;
}
.offer-subt {
  color: #070211;

  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.offer-details {
  color: var(--light-dark-clr);

  font-family: Inter;
  font-size: 20px;

  font-weight: 400;
  line-height: 32px; /* 160% */
}
.image-circle {
  width: 450px;
  height: 450px;
}
.outer-circle {
  width: 450px;
  height: 450px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 15px solid #f00;
  border-radius: 50%;
}
.inner-circle {
  width: 375px;
  height: 375px;
  overflow: hidden;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.year-det {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.year-det p {
  color: var(--light-dark-clr);
  font-family: Inter;
  font-size: 20px;
  margin-top: 20px;

  font-weight: 400;
  line-height: 32px; /* 160% */
}
.year-det h3 {
  color: #f00;
  font-family: Inter;

  font-size: 48px;

  font-weight: 700;
}
.year-det img {
  width: 140px;

  display: block;
  margin: 45px 135px 0px 0px;
}

/* Holidays sale styles */
.holidays-sale {
  display: flex;
  flex-direction: column;
  gap: 65px;
  background: url(resources/Rectangle\ 2.png) no-repeat;
  background-position: bottom center;
}
.details {
  text-align: center;
  padding: 0px 130px;
}
.details .subtitle {
  color: var(--deep-dark-clr);
  font-family: Inter;
  font-size: 24px;

  font-weight: 500;
}
.details .details-title {
  color: var(--deep-dark-clr);
  font-family: "Merriweather", serif;
  font-size: 72px;

  font-weight: 900;
}
.details p {
  color: var(--light-dark-clr);

  font-family: Inter;
  font-size: 20px;
  margin: 28px auto 0px;

  font-weight: 500;
  line-height: 32px; /* 160% */
}
.images {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 90px;
}
.images .Gr-mystryBox {
}
.sale-dis {
  position: relative;
  width: 429px;
  height: 433px;
}
.images .Gr-off50 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-118%, -50%);
  font-size: 73.015px;
}
.images .Rectangle1 {
  border-radius: 16px 16px 0px 0px;
  margin-top: 1px;
}

/* portfolio */
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
}
.portfolio .content {
  padding: 0px 500px 0px 0px;
}
.portfolio .content .portfolio-intro {
  color: #f00;

  font-family: Inter;
  font-size: 24px;

  font-weight: 500;

  margin-bottom: 16px;
}
.portfolio .content .portfolio-title {
  color: var(--deep-dark-clr);
  font-family: Merriweather;
  font-size: 48px;

  font-weight: 900;

  text-transform: capitalize;
  margin-bottom: 30px;
}
.portfolio .portfolio-details {
  color: var(--light-dark-clr);
  font-family: Inter;
  font-size: 20px;

  font-weight: 400;
  line-height: 32px; /* 160% */
}
.portfolio .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.portfolio img {
  transition: transform 0.5s;
}

.portfolio img:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* subscribe sections */

.subscribe {
  padding: 80px 210px;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-bottom: 220px;
}
.deta-title {
  color: var(--deep-dark-clr);

  text-align: center;

  font-size: 48px;

  font-weight: 900;
  margin-bottom: 24px;
  text-transform: capitalize;
}
.deta p {
  color: var(--light-dark-clr);

  font-family: Inter;
  font-size: 20px;

  font-weight: 400;
  line-height: 32px; /* 160% */
}

.inputBox {
  width: 648px;
  height: 72px;
  border-radius: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}
input {
  color: rgba(7, 2, 17, 0.3);

  text-align: center;
  font-family: Inter;
  font-size: 25px;

  font-weight: 400;
  border: 0;
  outline: 0;
  color: #070211;
}
::placeholder {
  font-size: 24px;
}
.inputBox input[type="submit"] {
  background-color: var(--primary-clr);
  color: white;
  font-size: 20px;
  width: 210px;
  height: 72px;
}

/* footer */

footer {
  background-color: var(--deep-dark-clr);
  color: white;
  padding: 120px 140px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .line {
  background-color: rgba(255, 255, 255, 0.15) !important;

  height: 1px;
}
.address-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.address-detail .location {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.address-detail .contact,
p {
  margin-right: 155px;
  align-items: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.address-detail .contact .phone,
.weblink {
  display: flex;
  align-items: center;
  gap: 20px;
}
a:-webkit-any-link {
  text-decoration: none;
  color: white;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.social-links img {
  margin-right: 24px;
  width: 64px;
}
.copyright {
  color: #fff;
  font-family: Inter;
  font-size: 24px;

  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
